@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;bold;bolder&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5 !important;
  font-family: "Jost", sans-serif !important;
}

.SendBtn
{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(23,119,175,1) 0%, rgba(13,104,171,1) 19%, rgba(8,68,110,1) 89%);
    font-weight: 700;
    font-family: "Jost", sans-serif !important;
    text-transform: none!important;
    border-radius: 8px!important;
    width: 200px;
}
.UploadBtn{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(23,119,175,1) 0%, rgba(13,104,171,1) 19%, rgba(8,68,110,1) 89%);
    font-weight: 700;
    font-family: "Jost", sans-serif !important;
    text-transform: none!important;
    border-radius: 8px!important;
    width: 150px;
}
.CancelBtn{
    font-weight: 700;
    font-family: "Jost", sans-serif !important;
    text-transform: none!important;
    border-radius: 8px!important;
    width: 150px;
}
.InfoImage{
    position: absolute;
    top: 17%;
    right: 1%;
    width: 25px;
    height: 25px;
    z-index: 99999;
    margin-right: 4px;
}
.title {
  color: #0e73bc;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 2px;
}
.outercard {
  border: 1px solid #0e73bc;
  border-radius: 2px;
  padding: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.innercard {
  border: 2px solid #0e73bc;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.Buttons {
  background-color: #0e73bc !important;
  color: #fff !important;
  outline: none !important;
  border-radius: 50px !important;
  /* width: 250px; */
}
.Buttons:hover {
  background-color: #0e73bc;
  color: #fff;
  outline: none !important;
}

.regular_button {
  width: 250px;
}
.franchise_button {
  width: 250px;
}

@media (max-width: 997px) and (min-width: 575px) {
  .regular_button {
    width: 100%;
  }
  .franchise_button {
    width: 100%;
  }
}

@media (max-width: 460px) 
{
  .regular_button {
    width: 100%;
  }
  .franchise_button {
    width: 100%;
  }
  .title{
    font-size: 23px;
  }
  .signup-form .btn{
    min-width: unset;
  }
}
